@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 95%;
    --foreground: 25 25% 15%;
    --card: 60 56% 100%;
    --card-foreground: 25 25% 15%;
    --popover: 60 56% 100%;
    --popover-foreground: 25 25% 15%;
    --primary: 45 100% 58%;
    --primary-foreground: 20 100% 10%;
    --secondary: 45 90% 70%;
    --secondary-foreground: 20 100% 10%;
    --muted: 60 50% 90%;
    --muted-foreground: 60 10% 45%;
    --accent: 30 69% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 20% 80%;
    --input: 45 20% 88%;
    --ring: 45 100% 58%;
    --chart-1: 45 100% 58%;
    --chart-2: 30 69% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 100% 58%;
    --primary-foreground: 20 100% 10%;
    --secondary: 45 90% 70%;
    --secondary-foreground: 20 100% 10%;
    --muted: 20 8% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 69% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 8% 15%;
    --input: 20 8% 15%;
    --ring: 45 100% 58%;
    --chart-1: 45 100% 58%;
    --chart-2: 30 69% 51%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom right, hsla(var(--background),0.9) 0%, hsla(var(--background),0.7) 40%, rgba(0, 119, 73, 0.15) 100%),
                      linear-gradient(to top left, rgba(255, 182, 18, 0.2) 0%, rgba(222, 56, 49, 0.15) 100%);
  }
}
